.action-container {
    height: 15em;
    display: flex;
    flex-direction: column;
}

.separator {
    color: black;
    background-color: black;
    height: 2px;
    border: black;
    width: 100%;
}