.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    max-height: 10em;
}

p {
    font-size: 1.4em;
}

.energy-slot {
    margin-left: 1%;
    margin-right: 3%;
    width: 14%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.damage-slot {   
    width: 10%;
    margin-right: 1%;
    font-size: 2.5em;
    font-weight: bolder;
}


.attack-description-slot {
    width: 74%;
    margin-right: 1%;
}

.effect-description-slot {
    width: 83%;
    margin-right: 1%;
}

.power-description-slot {
    width: 82%;
    margin-left: 3.5em;
    font-size: 1.2em;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
}